h1 {
  color: rgb(133, 98, 4);
  text-align: center;
  margin: 20px !important;
}

body {
  background: rgba(226, 162, 43, 0.644);
}

footer {
  text-align: center;
}

footer a {
  margin: 20px;
}
p {
  text-align: center;
}

img {
  display: block;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 20px;
  max-width: 500px;
}
